.container {
  display: flex;
  min-height: 80%;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background:black;
}

@media (min-width: 1100px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
    width: 1100px;
  }
}
