.header {
  background-image: url("/assets/images/Hollowed-Boxes.svg");
  background-repeat: repeat;
  color: whitesmoke;
  min-height: 200px;
  padding: 120px 10px; 
  padding-bottom: 60px;
  text-align: center;
}

.header h1 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 3rem;
}
